<% unless current_supplier.admin? %>
<%= render 'supplier/navbar' %>
	<div class="d-flex justify-content-around">
		<div>
			<%= column_chart Product.where(supplier_id:
			current_supplier.id).group_by_day(:created_at).count %>
		</div>
		<div>
			<%= bar_chart Product.where(supplier_id:
			current_supplier.id).joins(:category).group(:category_type).count %>
		</div>
	</div>
</nav>

<% else %> <%end%>
