<h4>All Customer Reviews</h4>

<% @reviews.each do |review| %>
<div>
  <h5><%= review.user.name %></h5>

  <p><%= review.content %></p>
    <p><%= review.created_at %></p>
  <!--  -->
</div>
<hr>
<% end %>
